ACCOUNT_SID=
AUTH_TOKEN=

# Variables for function "openai"
# ---

COMPANY_NAME=

# Variables for function "googlesheet"
# ---

GOOGLE_MAIL=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_PAGE=
GOOGLE_PRIVATE_KEY_0=
GOOGLE_PRIVATE_KEY_1=
GOOGLE_PRIVATE_KEY_2=
GOOGLE_PRIVATE_KEY_3=
GOOGLE_PRIVATE_KEY_4=
GOOGLE_PRIVATE_KEY_PARTS=5
MESSAGING_SERVICE_SID=
TEST_URL=
